@import "../../styles";

// ==== Main Styles ====
.main {
    width: 100%;
    position: relative;
    & > .container {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        .contact__info_fixed {
            width: 50px;
            position: fixed;
            height: 570px;
            right: -45px;
            top: -10px;
            padding: 0 0 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .contact__info_wrapper {
                .contact__info_link {
                    writing-mode: vertical-rl;
                    transform: rotate(-180deg);
                    -webkit-transform: rotate(-180deg) translateX(0);
                    -moz-transform: rotate(-180deg) translateX(50%);
                    cursor: pointer;
                    svg {
                        transform: rotate(-180deg);
                        width: 20px;
                        height: 20px;
                        &#flag__icon {
                            width: 18px;
                            height: 18px;
                        }
                    }
                    span {
                        color: $color-dark-two;
                        font-size: 15px;
                        text-transform: uppercase;
                        margin: 4px 0;
                        font-weight: 700;
                    }
                    &:hover {
                        svg {
                            #vector {
                                fill: $color-yellow;
                            }
                        }
                        span {
                            color: $color-yellow;
                        }
                    }
                    &.white {
                        svg {
                            #vector {
                                fill: $color-light;
                            }
                        }
                        span {
                            color: $color-light;
                        }
                        &:hover {
                            svg {
                                #vector {
                                    fill: $color-yellow;
                                }
                            }
                            span {
                                color: $color-yellow;
                            }
                        }
                    }
                }
            }
            .contact__info_social {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 15px;
                .contact__info_link {
                    cursor: default;
                    display: flex;
                    flex-direction: column;
                    svg {
                        width: 19px;
                        height: 19px;
                    }
                    .telegram__icon {
                        path {
                            stroke: $color-dark-two;
                        }
                    }
                    &:hover {
                        .linkedin__icon {
                            path {
                                &:first-child {
                                    fill: $color-yellow;
                                }
                                &:nth-child(2) {
                                    stroke: $color-yellow;
                                }
                                &:nth-child(3) {
                                    stroke: $color-yellow;
                                }
                                &:last-child {
                                    stroke: $color-yellow;
                                }
                            }
                        }
                        .twitter__icon {
                            path {
                                fill: $color-yellow;
                            }
                        }
                        .whatsapp__icon {
                            path {
                                stroke: $color-yellow;
                            }
                        }
                        .instagram__icon {
                            path {
                                fill: $color-yellow;
                            }
                        }
                        .telegram__icon {
                            path {
                                stroke: $color-yellow;
                            }
                        }
                        .youtube__icon {
                            path {
                                fill: $color-yellow;
                            }
                        }
                        img {
                            color: $color-yellow;
                        }
                    }
                    &.white {
                        .instagram__icon {
                            path {
                                fill: $color-light;
                            }
                        }
                        .linkedin__icon {
                            path {
                                &:first-child {
                                    fill: $color-light;
                                }
                                &:nth-child(2) {
                                    stroke: $color-light;
                                }
                                &:nth-child(3) {
                                    stroke: $color-light;
                                }
                                &:last-child {
                                    stroke: $color-light;
                                }
                            }
                        }
                        .twitter__icon {
                            path {
                                fill: $color-light;
                            }
                        }
                        .whatsapp__icon {
                            path {
                                stroke: $color-light;
                            }
                        }
                        .telegram__icon {
                            path {
                                stroke: $color-light;
                            }
                        }
                        .youtube__icon {
                            path {
                                fill: $color-light;
                            }
                        }
                        &:hover {
                            .linkedin__icon {
                                path {
                                    &:first-child {
                                        fill: $color-yellow;
                                    }
                                    &:nth-child(2) {
                                        stroke: $color-yellow;
                                    }
                                    &:nth-child(3) {
                                        stroke: $color-yellow;
                                    }
                                    &:last-child {
                                        stroke: $color-yellow;
                                    }
                                }
                            }
                            .twitter__icon {
                                path {
                                    fill: $color-yellow;
                                }
                            }
                            .whatsapp__icon {
                                path {
                                    stroke: $color-yellow;
                                }
                            }
                            .instagram__icon {
                                path {
                                    fill: $color-yellow;
                                }
                            }
                            .telegram__icon {
                                path {
                                    stroke: $color-yellow;
                                }
                            }
                            .youtube__icon {
                                path {
                                    fill: $color-yellow;
                                }
                            }
                            img {
                                color: $color-yellow;
                            }
                        }
                    }
                }
            }
        }
        // **** Responsive ****
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    // ---- Slide Section Styles ----
    .slide__section {
        margin-bottom: 6rem;
        position: relative;
        #waves {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        .container {
            .right__line,
            .left__line {
                z-index: 10;
                position: absolute;
                width: 1px;
                background-color: $color-dark-two;
                opacity: 0.4;
                // **** Responsive
                @media screen and (max-width: 430px) {
                    display: none;
                }
            }
            .right__line {
                height: 125%;
                right: 0;
                top: -25px;
                &_shape {
                    position: absolute;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    border: 1px solid $color-dark-two;
                    top: -24px;
                    left: 50%;
                    transform: translateX(-50%);
                    &:before {
                        position: absolute;
                        content: "";
                        width: 40%;
                        height: 40%;
                        border-radius: 50%;
                        background-color: $color-dark-two;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                // **** Responsive
                @media screen and (max-width: 768px) {
                    top: 80px;
                    height: 103%;
                }
            }
            .left__line {
                height: calc(120% - 180px);
                left: 0;
                top: 180px;
                &_shape {
                    position: absolute;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    border: 1px solid $color-dark-two;
                    top: -24px;
                    left: 50%;
                    transform: translateX(-50%);
                    &:before {
                        position: absolute;
                        content: "";
                        width: 40%;
                        height: 40%;
                        border-radius: 50%;
                        background-color: $color-dark-two;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                // **** Responsive
                @media screen and (max-width: 768px) {
                    top: 133px;
                }
            }
            @include section-title-style;
            padding-top: 160px;
            .slide__section_content {
                margin-top: 3rem;
                & > h3 {
                    font-size: 60px;
                    color: $color-dark;
                    // **** Responsive
                    @media screen and (max-width: 640px) {
                        font-size: 40px;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 26px;
                    }
                }
                .slide__sub_title {
                    margin-top: 3rem;
                    padding-bottom: 3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    p {
                        width: 45%;
                        font-size: 20px;
                        line-height: 31px;
                        color: $color-dark;
                        // **** Responsive
                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }
                        @media screen and (max-width: 430px) {
                            font-size: 15px;
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        row-gap: 5px;
                    }
                }
            }
        }
        // **** Responsive
        @media screen and (max-width: 430px) {
            margin-bottom: 0;
        }
    }
    // ---- Description Section Styles ----
    .description__section {
        .image__wrapper {
            width: 100%;
            position: relative;
            img {
                width: 100%;
                position: absolute;
            }
            .container {
                height: 100%;
                @include container-lines-style($color-dark);
            }
        }
    }
    // ---- Items Section Styles ----
    .items__section {
        .container {
            @include container-lines-style($color-dark);
            @include section-title-style;
            .description__content {
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                .description__content_left {
                    width: 45%;
                    h4 {
                        font-size: 45px;
                        color: $color-dark;
                        // **** Responsive
                        @media screen and (max-width: 640px) {
                            font-size: 30px;
                        }
                        @media screen and (max-width: 430px) {
                            font-size: 22px;
                        }
                    }
                    p {
                        color: $color-dark;
                        line-height: 31px;
                        font-size: 20px;
                        margin-top: 50px;
                        // **** Responsive
                        @media screen and (max-width: 640px) {
                            font-size: 18px;
                        }
                        @media screen and (max-width: 430px) {
                            font-size: 15px;
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
                .description__content_right {
                    width: 45%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    p {
                        color: $color-dark;
                        line-height: 31px;
                        font-size: 20px;
                    }
                    // **** Responsive
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
                // **** Responsive
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    row-gap: 25px;
                }
            }
            .description__items {
                margin-top: 120px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 40px 10px;
                .description__item {
                    width: 200px;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 25px;
                    padding: 20px;
                    justify-content: space-between;
                    .icon {
                        width: 117px;
                        height: 117px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        // **** Responsive
                        @media screen and (max-width: 768px) {
                            width: 90px;
                            height: 90px;
                        }
                        @media screen and (max-width: 640px) {
                            width: 60px;
                            height: 60px;
                        }
                    }
                    .desc {
                        font-size: 18px;
                        color: $color-dark;
                        font-weight: 600;
                        text-align: center;
                        line-height: 31px;
                        text-transform: uppercase;
                        transition: all 0.1s ease-out;
                        // **** Responsive
                        @media screen and (max-width: 640px) {
                            font-size: 16px;
                        }
                        @media screen and (max-width: 430px) {
                            font-size: 15px;
                        }
                    }
                    &:hover {
                        .icon {
                            svg {
                                &.fill {
                                    path {
                                        fill: $color-yellow;
                                    }
                                }
                                &.stroke {
                                    path {
                                        stroke: $color-yellow;
                                    }
                                }
                            }
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 640px) {
                        width: 47%;
                        height: 150px;
                        row-gap: 18px;
                    }
                }
            }
        }
    }
    // ---- Work Section Styles ----
    .work__section {
        .container {
            @include container-lines-style($color-dark);
            @include section-title-style;
            .work__content {
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                .work__content_left {
                    width: 45%;
                    h4 {
                        font-size: 45px;
                        color: $color-dark;
                        // **** Responsive
                        @media screen and (max-width: 640px) {
                            font-size: 30px;
                        }
                        @media screen and (max-width: 430px) {
                            font-size: 22px;
                        }
                    }
                    p {
                        color: $color-dark;
                        line-height: 31px;
                        font-size: 20px;
                        margin-top: 50px;
                        // **** Responsive
                        @media screen and (max-width: 640px) {
                            font-size: 18px;
                        }
                        @media screen and (max-width: 430px) {
                            font-size: 15px;
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 640px) {
                        width: 100%;
                    }
                }
                .work__content_right {
                    width: 45%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    p {
                        color: $color-dark;
                        line-height: 31px;
                        font-size: 20px;
                        // **** Responsive
                        @media screen and (max-width: 430px) {
                            font-size: 15px;
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 640px) {
                        width: 100%;
                    }
                }
                // **** Responsive
                @media screen and (max-width: 640px) {
                    flex-direction: column;
                    row-gap: 20px;
                }
            }
        }
    }
    // ---- Technology Section Styles ----
    .technology__section {
        background-color: $color-dark;
        overflow: hidden;
        .container {
            @include container-lines-style($color-light);
            .carousel__technology {
                padding-top: 4rem;
                width: 100vw;
                overflow-x: hidden;
                .splide {
                    &__slide {
                        width: max-content !important;
                        img {
                            width: 530px;
                            // **** Responsive
                            @media screen and (max-width: 768px) {
                                width: 380px;
                            }
                            @media screen and (max-width: 430px) {
                                width: 207px;
                            }
                        }
                    }
                    .splide__cursor {
                        position: absolute;
                        width: 70px;
                        height: 70px;
                        background-color: rgba($color: $color-light, $alpha: 0.4);
                        border-radius: 50%;
                        backdrop-filter: blur(3px);
                        box-shadow: 0 0 12px 2px rgba($color: $color-dark, $alpha: 0.3);
                        z-index: 100;
                        pointer-events: none;
                        display: none;
                        &.active {
                            display: block;
                        }
                        span {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            &::before,
                            &::after {
                                position: absolute;
                                content: "";
                                width: 15px;
                                height: 2px;
                                background-color: $color-dark;
                            }
                            &:first-child {
                                left: 10px;
                                &::before,
                                &::after {
                                    transform-origin: left center;
                                }
                                &::before {
                                    transform: rotate(-45deg);
                                }
                                &::after {
                                    transform: rotate(45deg);
                                }
                            }
                            &:last-child {
                                right: 25px;
                                &::before,
                                &::after {
                                    transform-origin: right center;
                                }
                                &::before {
                                    transform: rotate(-45deg);
                                }
                                &::after {
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }
                }
                // **** Responsive
                @media screen and (max-width: 768px) {
                    padding-top: 0;
                }
            }
            .technology__content {
                padding-bottom: 4rem;
                margin-top: 3rem;
                display: flex;
                justify-content: space-between;
                h4 {
                    width: 45%;
                    font-size: 40px;
                    color: $color-light;
                    // **** Responsive
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 640px) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 22px;
                    }
                }
                p {
                    width: 45%;
                    color: $color-light;
                    line-height: 31px;
                    font-size: 20px;
                    // **** Responsive
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 15px;
                    }
                }
                // **** Responsive
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    row-gap: 20px;
                }
            }
        }
    }
    // ---- Help Section Styles ----
    .help__section {
        .container {
            @include container-lines-style($color-dark);
            @include section-title-style;
            .help__content {
                padding-top: 3rem;
                display: flex;
                justify-content: space-between;
                padding-bottom: 400px;
                &_wrapper {
                    width: 45%;
                    & > h3 {
                        font-size: 50px;
                        color: $color-dark;
                        // **** Responsive
                        @media screen and (max-width: 640px) {
                            font-size: 30px;
                        }
                    }
                    .help__content_title {
                        width: 100%;
                        margin-top: 2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        p {
                            line-height: 31px;
                            font-size: 20px;
                            color: $color-dark;
                            // **** Responsive
                            @media screen and (max-width: 640px) {
                                font-size: 18px;
                            }
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                }
                &_img {
                    width: 50%;
                    img {
                        width: 100%;
                    }
                    // **** Responsive
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                }
                // **** Responsive
                @media screen and (max-width: 992px) {
                    flex-direction: column;
                    row-gap: 20px;
                }
                @media screen and (max-width: 430px) {
                    padding-bottom: 190px;
                }
            }
        }
    }
    // ---- Film Section Styles ----
    .film__section {
        background-color: $color-dark;
        position: relative;
        .film__wrapper {
            width: 1350px;
            max-width: 70%;
            position: absolute;
            right: 0;
            top: -165px;
            img {
                width: 100%;
            }
            // **** Responsive
            @media screen and (max-width: 768px) {
                width: 640px;
                max-width: 80%;
            }
            @media screen and (max-width: 430px) {
                top: -115px;
            }
        }
        .container {
            @include container-lines-style($color-light);
            .film__content {
                min-height: 640px;
                padding-bottom: 4rem;
                margin-top: -10rem;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                h4 {
                    width: 45%;
                    font-size: 40px;
                    color: $color-light;
                    // **** Responsive
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 22px;
                    }
                }
                p {
                    width: 45%;
                    color: $color-light;
                    line-height: 31px;
                    font-size: 18px;
                    // **** Responsive
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 15px;
                    }
                }
                // **** Responsive
                @media screen and (max-width: 992px) {
                    width: 100%;
                    min-height: 520px;
                    flex-direction: column;
                    row-gap: 20px;
                    justify-content: flex-end;
                }
                @media screen and (max-width: 640px) {
                    padding-bottom: 0;
                    margin-top: -5rem;
                    min-height: 370px;
                }
                @media screen and (max-width: 430px) {
                    padding-bottom: 0;
                    margin-top: 0;
                    min-height: 190px;
                }
            }
        }
    }
    // ---- Promise Section Styles ----
    .promise__section {
        .container {
            @include container-lines-style($color-dark);
            @include section-title-style;
            .section__title {
                padding-top: 60px;
            }
            .promise__content {
                padding-bottom: 60px;
                p {
                    width: 100%;
                    line-height: 61px;
                    font-size: 40px;
                    color: $color-dark;
                    margin-top: 3rem;
                    font-weight: 600;
                    // **** Responsive
                    @media screen and (max-width: 430px) {
                        font-size: 22px;
                        line-height: 36px;
                    }
                }
            }
        }
    }
    // ---- CTA-1 Section Styles ----
    .cta__section {
        background-color: $color-dark;
        .container {
            @include container-lines-style($color-light);
            @include section-title-style;
            .cta__one_content {
                @include section-content-style("&", $color-light);
                .link__view_more {
                    color: $color-yellow;
                    padding-left: 0;
                    border-bottom: 2px solid $color-yellow;
                    cursor: pointer;
                    &::before {
                        display: none;
                    }
                    // **** Responsive
                    @media screen and (max-width: 430px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
