@import "../../styles";

// ==== Main Styles ====
.main {
    width: 100%;
    position: relative;
    & > .container {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        .contact__info_fixed {
            width: 50px;
            position: fixed;
            height: 570px;
            right: -45px;
            top: -10px;
            padding: 0 0 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .contact__info_wrapper {
                .contact__info_link {
                    writing-mode: vertical-rl;
                    transform: rotate(-180deg);
                    -webkit-transform: rotate(-180deg) translateX(0);
                    -moz-transform: rotate(-180deg) translateX(50%);
                    cursor: pointer;
                    svg {
                        transform: rotate(-180deg);
                        width: 20px;
                        height: 20px;
                        &#flag__icon {
                            width: 18px;
                            height: 18px;
                        }
                    }
                    span {
                        color: $color-dark-two;
                        font-size: 15px;
                        text-transform: uppercase;
                        margin: 4px 0;
                        font-weight: 700;
                    }
                    &:hover {
                        svg {
                            #vector {
                                fill: $color-yellow;
                            }
                        }
                        span {
                            color: $color-yellow;
                        }
                    }
                    &.white {
                        svg {
                            #vector {
                                fill: $color-light;
                            }
                        }
                        span {
                            color: $color-light;
                        }
                        &:hover {
                            svg {
                                #vector {
                                    fill: $color-yellow;
                                }
                            }
                            span {
                                color: $color-yellow;
                            }
                        }
                    }
                }
            }
            .contact__info_social {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 15px;
                .contact__info_link {
                    cursor: default;
                    display: flex;
                    flex-direction: column;
                    svg {
                        width: 19px;
                        height: 19px;
                    }
                    .telegram__icon {
                        path {
                            stroke: $color-dark-two;
                        }
                    }
                    &:hover {
                        .linkedin__icon {
                            path {
                                &:first-child {
                                    fill: $color-yellow;
                                }
                                &:nth-child(2) {
                                    stroke: $color-yellow;
                                }
                                &:nth-child(3) {
                                    stroke: $color-yellow;
                                }
                                &:last-child {
                                    stroke: $color-yellow;
                                }
                            }
                        }
                        .twitter__icon {
                            path {
                                fill: $color-yellow;
                            }
                        }
                        .whatsapp__icon {
                            path {
                                stroke: $color-yellow;
                            }
                        }
                        .instagram__icon {
                            path {
                                fill: $color-yellow;
                            }
                        }
                        .telegram__icon {
                            path {
                                stroke: $color-yellow;
                            }
                        }
                        .youtube__icon {
                            path {
                                fill: $color-yellow;
                            }
                        }
                        img {
                            color: $color-yellow;
                        }
                    }
                    &.white {
                        .instagram__icon {
                            path {
                                fill: $color-light;
                            }
                        }
                        .linkedin__icon {
                            path {
                                &:first-child {
                                    fill: $color-light;
                                }
                                &:nth-child(2) {
                                    stroke: $color-light;
                                }
                                &:nth-child(3) {
                                    stroke: $color-light;
                                }
                                &:last-child {
                                    stroke: $color-light;
                                }
                            }
                        }
                        .twitter__icon {
                            path {
                                fill: $color-light;
                            }
                        }
                        .whatsapp__icon {
                            path {
                                stroke: $color-light;
                            }
                        }
                        .telegram__icon {
                            path {
                                stroke: $color-light;
                            }
                        }
                        .youtube__icon {
                            path {
                                fill: $color-light;
                            }
                        }
                        &:hover {
                            .linkedin__icon {
                                path {
                                    &:first-child {
                                        fill: $color-yellow;
                                    }
                                    &:nth-child(2) {
                                        stroke: $color-yellow;
                                    }
                                    &:nth-child(3) {
                                        stroke: $color-yellow;
                                    }
                                    &:last-child {
                                        stroke: $color-yellow;
                                    }
                                }
                            }
                            .twitter__icon {
                                path {
                                    fill: $color-yellow;
                                }
                            }
                            .whatsapp__icon {
                                path {
                                    stroke: $color-yellow;
                                }
                            }
                            .instagram__icon {
                                path {
                                    fill: $color-yellow;
                                }
                            }
                            .telegram__icon {
                                path {
                                    stroke: $color-yellow;
                                }
                            }
                            .youtube__icon {
                                path {
                                    fill: $color-yellow;
                                }
                            }
                            img {
                                color: $color-yellow;
                            }
                        }
                    }
                }
            }
        }
        // **** Responsive ****
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    // ---- Slide Section Styles ----
    .slide__section {
        margin-bottom: 6rem;
        position: relative;
        #waves {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        .container {
            .right__line,
            .left__line {
                z-index: 10;
                position: absolute;
                width: 1px;
                background-color: $color-dark-two;
                opacity: 0.4;
                // **** Responsive
                @media screen and (max-width: 430px) {
                    display: none;
                }
            }
            .right__line {
                height: 125%;
                right: 0;
                top: -25px;
                &_shape {
                    position: absolute;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    border: 1px solid $color-dark-two;
                    top: -24px;
                    left: 50%;
                    transform: translateX(-50%);
                    &:before {
                        position: absolute;
                        content: "";
                        width: 40%;
                        height: 40%;
                        border-radius: 50%;
                        background-color: $color-dark-two;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                // **** Responsive
                @media screen and (max-width: 768px) {
                    top: 80px;
                    height: 103%;
                }
            }
            .left__line {
                height: calc(120% - 180px);
                left: 0;
                top: 180px;
                &_shape {
                    position: absolute;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    border: 1px solid $color-dark-two;
                    top: -24px;
                    left: 50%;
                    transform: translateX(-50%);
                    &:before {
                        position: absolute;
                        content: "";
                        width: 40%;
                        height: 40%;
                        border-radius: 50%;
                        background-color: $color-dark-two;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                // **** Responsive
                @media screen and (max-width: 768px) {
                    top: 133px;
                }
            }
            @include section-title-style;
            padding-top: 160px;
            .slide__section_content {
                margin-top: 3rem;
                & > h3 {
                    font-size: 60px;
                    color: $color-dark;
                    // **** Responsive
                    @media screen and (max-width: 640px) {
                        font-size: 40px;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 26px;
                    }
                }
                .slide__sub_title {
                    margin-top: 3rem;
                    padding-bottom: 3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    p {
                        width: 45%;
                        font-size: 20px;
                        line-height: 31px;
                        color: $color-dark;
                        // **** Responsive
                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }
                        @media screen and (max-width: 430px) {
                            font-size: 15px;
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        row-gap: 5px;
                    }
                }
            }
        }
        // **** Responsive
        @media screen and (max-width: 640px) {
            margin-bottom: 0;
        }
    }
    // ---- Description Section Styles ----
    .description__section {
        .image__wrapper {
            width: 100%;
            position: relative;
            img {
                width: 100%;
                position: absolute;
            }
            .container {
                height: 100%;
                @include container-lines-style($color-dark);
            }
        }
    }
    // ---- Items Section Styles ----
    .items__section {
        .container {
            @include container-lines-style($color-dark);
            @include section-title-style;
            .description__items {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 25px;
                transform: translateY(-100px);
                .description__item {
                    width: 260px;
                    height: 260px;
                    border: 1px solid $color-dark;
                    background-color: $color-light;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    justify-content: space-around;
                    transition: all 0.1s ease-out;
                    .icon {
                        width: 117px;
                        height: 117px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        &::before {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            background-color: $color-yellow;
                            opacity: 0.2;
                            left: 0;
                            top: 0;
                        }
                        svg {
                            // **** Responsive
                            @media screen and (max-width: 430px) {
                                width: 17px;
                            }
                        }
                        // **** Responsive
                        @media screen and (max-width: 430px) {
                            width: 48px;
                            height: 48px;
                        }
                    }
                    .desc {
                        font-size: 18px;
                        color: $color-dark;
                        font-weight: 600;
                        text-align: center;
                        line-height: 31px;
                        transition: all 0.1s ease-out;
                        // **** Responsive
                        @media screen and (max-width: 430px) {
                            text-align: left;
                            font-size: 15px;
                        }
                    }
                    &:hover {
                        background-color: $color-dark;
                        .icon {
                            svg {
                                &.fill {
                                    path {
                                        fill: $color-light;
                                    }
                                }
                                &.stroke {
                                    path {
                                        stroke: $color-light;
                                    }
                                }
                            }
                            &::before {
                                background-color: $color-light;
                            }
                        }
                        .desc {
                            color: $color-light;
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 768px) {
                        width: 70%;
                    }
                    @media screen and (max-width: 430px) {
                        width: 45%;
                        height: auto;
                        align-items: flex-start;
                        row-gap: 20px;
                    }
                }
                // **** Responsive
                @media screen and (max-width: 430px) {
                    column-gap: 8px;
                    justify-content: flex-start;
                }
                @media screen and (max-width: 640px) {
                    transform: translateY(-180px);
                }
                @media screen and (max-width: 430px) {
                    transform: translateY(0);
                }
            }
        }
    }
    // ---- How Work Section Styles ----
    .work__section {
        .container {
            @include container-lines-style($color-dark);
            @include section-title-style;
            .work__content {
                display: flex;
                flex-direction: column;
                & > p {
                    width: 530px;
                    max-width: 100%;
                    font-size: 50px;
                    color: $color-dark;
                    line-height: 61px;
                    margin-top: 60px;
                    // **** Responsive
                    @media screen and (max-width: 640px) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 22px;
                    }
                }
                &_bottom {
                    display: flex;
                    justify-content: space-between;
                    column-gap: 50px;
                    margin-top: 70px;
                    p {
                        font-size: 20px;
                        color: $color-dark;
                        line-height: 31px;
                        // **** Responsive
                        @media screen and (max-width: 640px) {
                            font-size: 18px;
                        }
                        @media screen and (max-width: 430px) {
                            font-size: 15px;
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 640px) {
                        flex-direction: column;
                        row-gap: 20px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    // ---- Box Section Styles ----
    .box__section {
        background-color: $color-dark;
        .container {
            @include container-lines-style($color-light);
            @include section-title-style;
            display: flex;
            justify-content: space-between;
            .box__content {
                width: 47%;
                @include section-content-style("&", $color-light);
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                p {
                    width: 100%;
                    color: $color-light;
                    &:first-child {
                        line-height: 61px;
                        font-size: 50px;
                        // **** Responsive
                        @media screen and (max-width: 430px) {
                            font-size: 22px;
                            line-height: 36px;
                        }
                    }
                    &:last-child {
                        font-size: 20px;
                        line-height: 31px;
                        // **** Responsive
                        @media screen and (max-width: 430px) {
                            font-size: 15px;
                        }
                    }
                }
                // **** Responsive
                @media screen and (max-width: 992px) {
                    width: 100%;
                }
            }
            .box__items {
                width: 47%;
                display: flex;
                justify-content: space-between;
                margin-top: 60px;
                .box__item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        width: 100%;
                    }
                }
                // **** Responsive
                @media screen and (max-width: 992px) {
                    width: 100%;
                }
            }

            // **** Responsive
            @media screen and (max-width: 992px) {
                flex-direction: column-reverse;
                row-gap: 20px;
            }
        }
    }
    // ---- Help Section Styles ----
    .help__section {
        .container {
            @include container-lines-style($color-dark);
            @include section-title-style;
            .help__content {
                padding-top: 3rem;
                display: flex;
                justify-content: space-between;
                padding-bottom: 550px;
                &_wrapper {
                    width: 45%;
                    & > h3 {
                        font-size: 50px;
                        color: $color-dark;
                        // **** Responsive
                        @media screen and (max-width: 640px) {
                            font-size: 30px;
                        }
                    }
                    .help__content_title {
                        width: 100%;
                        margin-top: 2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        p {
                            line-height: 31px;
                            font-size: 20px;
                            color: $color-dark;
                            font-size: 700;
                            // **** Responsive
                            @media screen and (max-width: 640px) {
                                font-size: 18px;
                            }
                        }
                    }
                    // **** Responsive
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                }
                &_img {
                    width: 50%;
                    img {
                        width: 100%;
                    }
                    // **** Responsive
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                }
                // **** Responsive
                @media screen and (max-width: 992px) {
                    flex-direction: column;
                    row-gap: 20px;
                }
                @media screen and (max-width: 640px) {
                    padding-bottom: 280px;
                }
                @media screen and (max-width: 430px) {
                    padding-bottom: 170px;
                }
            }
        }
    }
    // ---- Film Section Styles ----
    .film__section {
        background-color: $color-dark;
        position: relative;
        .film__wrapper {
            width: 1250px;
            max-width: 60%;
            position: absolute;
            right: 0;
            top: -46%;
            img {
                width: 100%;
            }

            // **** Responsive
            @media screen and (max-width: 768px) {
                width: 640px;
                max-width: 95%;
            }
            @media screen and (max-width: 640px) {
                max-width: 88%;
            }
            @media screen and (max-width: 430px) {
                top: -135px;
            }
        }
        .container {
            @include container-lines-style($color-light);
            .film__content {
                min-height: 620px;
                padding-bottom: 4rem;
                margin-top: -10rem;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                h4 {
                    width: 45%;
                    font-size: 40px;
                    color: $color-light;
                    // **** Responsive
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 640px) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 22px;
                    }
                }
                p {
                    width: 45%;
                    color: $color-light;
                    line-height: 31px;
                    font-size: 18px;

                    // **** Responsive
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 430px) {
                        font-size: 15px;
                    }
                }

                // **** Responsive
                @media screen and (max-width: 1200px) {
                    min-height: 540px;
                }
                @media screen and (max-width: 992px) {
                    flex-direction: column;
                    row-gap: 20px;
                    justify-content: flex-end;
                    min-height: 500px;
                    padding-bottom: 7rem;
                }
                @media screen and (max-width: 768px) {
                    min-height: 530px;
                    padding-bottom: 6rem;
                }
                @media screen and (max-width: 640px) {
                    min-height: 470px;
                    padding-bottom: 0;
                }
                @media screen and (max-width: 430px) {
                    min-height: 440px;
                }
            }
        }
    }
    // ---- Promise Section Styles ----
    .promise__section {
        .container {
            @include container-lines-style($color-dark);
            @include section-title-style;
            .section__title {
                padding-top: 60px;
            }
            .promise__content {
                padding-bottom: 60px;
                p {
                    width: 100%;
                    line-height: 61px;
                    font-size: 40px;
                    color: $color-dark;
                    margin-top: 3rem;
                    font-weight: 600;
                    // **** Responsive
                    @media screen and (max-width: 430px) {
                        font-size: 22px;
                        line-height: 36px;
                    }
                }
            }
        }
    }
    // ---- CTA-1 Section Styles ----
    .cta__section {
        background-color: $color-dark;
        .container {
            @include container-lines-style($color-light);
            @include section-title-style;
            .cta__one_content {
                @include section-content-style("&", $color-light);
                .link__view_more {
                    color: $color-yellow;
                    padding-left: 0;
                    border-bottom: 2px solid $color-yellow;
                    cursor: pointer;
                    &::before {
                        display: none;
                    }
                    // **** Responsive
                    @media screen and (max-width: 430px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
